@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$primary: #1976d2;
$secondary: #1e3a8a;
$accent: #9c27b0;

$dark: #333333;
$dark-page: #121212;
$dark-true: #000000;
$white: #ffff;
$white-page: #f1f1f1;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$purple: #6358dc;

$typography-font-family: 'Inter', sans-serif !default;
